<div class="backdrop-blur-lg group bg-black/60 dark:bg-transparent rounded-md py-2" id="about">
  <h2 class="text-3xl flex items-center gap-2 font-bold">
    <div class="h-2 w-5 bg-green-500 group-hover:w-10 duration-100"></div>
    About
  </h2>
  <p class="text-lg p-2" >
    Nice to meet you! I'm Eduardo. Right after high school, I dove into
    programming and found my passion. Since then, I've been continuously
    improving my skills and expanding my knowledge. Crafting remarkable
    experiences through development is what drives me. I'm dedicated to
    achieving excellence, embracing challenges with focus, and I'm always eager
    to explore and learn more.
  </p>
</div>
