---
import TypingHeading from "../components/TypingHeading";
import About from "../components/sections/About.astro";
import Projects from "../components/sections/Projects.astro";
import LinkedinSvg from "../components/svg/LinkedinSvg.astro";
import MailSvg from "../components/svg/MailSvg.astro";
import GithubSvg from "../components/svg/GithubSvg.astro";
import Layout from "../layouts/Layout.astro";
import { getByUrl } from "../shared/github";
import { Picture } from "astro:assets";
import ThemeIcon from "../components/ThemeIcon.astro";
import Footer from "../components/sections/Footer.astro";
import Nav from "../components/sections/Nav.astro";
import PinSvg from "../components/svg/PinSvg.astro";

const headings = ["Developer", "Front end", "Problem solver"];
const profile = await getByUrl<{ avatar_url: string }>(
  "https://api.github.com/users/eduardodgdebem"
);
const profileImgUrl = profile?.avatar_url;
---

<Layout title="eduardogdebem">
  <div class="flex h-fit max-w-screen max-md:flex-col justify-center z-30">
    <section
      class="h-fit md:h-screen w-full md:w-[40vw] flex flex-col justify-between p-10 md:py-20 md:sticky top-0 max-sm:p-4 max-sm:gap-8"
    >
      <main class="w-full rounded-md pb-2 dark:bg-transparent">
        <header class="flex w-full p-2 gap-2">
          <Picture
            src={profileImgUrl}
            alt="profile_img"
            height={100}
            width={100}
            class="w-[13rem] aspect-square rounded-md max-sm:hidden"
          />
          <div>
            <h1 class="text-5xl font-semibold">Eduardo de Bem</h1>
            <TypingHeading
              className="text-4xl text-green-500"
              headings={headings}
              client:load
            />
            <div class="flex items-center text-lg">
              <PinSvg className="h-4 w-4 fill-green-500" />
               Criciúma, BR
            </div>
          </div>
        </header>
``        <!-- <Nav /> -->
      </main>
      <Footer />
    </section>
    <section
      class="w-full md:w-[48vw] p-10 max-sm:p-4 md:py-20 h-fit flex flex-col gap-4"
    >
      <About />
      <Projects />
    </section>
  </div>
</Layout>
